#muti-level-select .filterGroup{
	position: relative;
}
#muti-level-select .filterGroup .contains{
	margin-bottom: 10px;
}
#muti-level-select .filterGroup .term{
	width: 700px;
	margin:20px 0 0 200px;
	background:#f2f2f2;
	margin-bottom:20px;
	position: relative;
	padding: 20px;
}
#muti-level-select .newTerm{
	text-align: center;
}
#muti-level-select .filterGroup .line{
	width: 50px;
	margin: 10px 0 0 -50px;
	border: 1px solid #000;
	border-right: none;
	position: absolute;
}

#muti-level-select .filterGroup .bigLine{
	width: 50px;
	margin-top: 10px;
	margin-left:150px;
	border: 1px solid #000;
	border-right: none;
	position: absolute;
}
#muti-level-select .filterGroup .cell-right{
	position: absolute;
	left: 18px;
}
#muti-level-select .filterGroup .txtRight{
	position: absolute;
	right: 5px;
}
#muti-level-select .filterGroup .txtLeft{
	position: absolute;
	left: 5px;
	color: white;
}
#muti-level-select .filterGroup .big-cell{
	margin-top: 10px;
	margin-left: 200px;
}
#muti-level-select .filterGroup .switch-on{
	border-color: rgb(100, 189, 99);
	box-shadow: rgb(100, 189, 99) 0px 0px 0px 16px inset;
	background-color: rgb(100, 189, 99)
}
#muti-level-select .filterGroup .firstSelect,#muti-level-select .filterGroup .secondSelect,#muti-level-select .filterGroup .thirdSelect{
	width: 150px;
	height: 30px;
	border-radius: 4px;
	border:1px solid #ccc;
	margin-right: 5px;
}
#muti-level-select  .filterGroup .infoSelect .firstSelect,#muti-level-select .filterGroup .infoSelect .secondSelect,#muti-level-select .filterGroup .infoSelect .thirdSelect{
	margin-right: 1px;
}